body, html {
  margin: 0; padding: 0;
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

header {
  padding: 1em;
  text-align: center;
}

input, button {
  font-size: 1em;
  padding: 0.4em 0.6em;
  margin: 0.3em 0.5em 0.3em 0;
  background: #000;
  border: 1px solid #fff;
  color: #fff;
}

button:hover {
  background: #222;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: center;
  margin: 1em 0;
  gap: 1em;
}

nav button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding: 0.2em 0.5em;
}

nav button.active {
  border-bottom: 2px solid #fff;
}

#youtube-results > div {
  border: 1px solid #555;
  padding: 0.5em;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

#youtube-results img {
  margin-right: 1em;
}
